  /**重置标签默认样式*/   
* {   
    margin: 0;   
    padding: 0;   
    list-style: none;   
    font-family: '宋体' !important
      
}

#container { 
    width: 10rem; 
    /* height: 780px; */
    /* min-height: 100vh; */
    /* height:  13.6rem; */
    background: #F0F0F2;   
    margin: 0 auto;
    /* position: relative; */
    bottom: 0;
    /* box-shadow: 20px 20px 55px #777; */
}   
.header {   
    background: #F0F0F2;   
    height: 4vh;   
    color: #333333;
    /* line-height: 300px; */
    font-size: 3.2vh;   
    padding-top: 2vh;
    padding-left: 0.2rem;
    /* text-align: center; */
}

.header img {
    position: relative;
    text-align: left !important;
    /* padding-top: 2vh; */
    /* padding-left: 2vh; */
    height: 3vh;
    width: 3vh;
    
}

.header .name {
    position: absolute;
    height: 4vh;
    /* width: 10rem; */
    padding-left: 3.925rem;
    font-size: 3.5vh;
    top: 1vh;
    /* bottom: .5vh; */
    /* text-align: center; */
    /* left: 4rem; */
}


.content {   
    font-size: .5rem;   
    width: 9rem; 
    height: 80vh;   
    overflow: auto;   
    padding: .3rem;   
}

.content li {   
    margin-top: .01rem;   
    padding-left: .05rem;   
    width: 8.5rem;   
    display: block;
    clear: both;
    overflow: hidden;
} 

.content li img {
    float: left;
    
}

.content li span{   
    background: #FFFFFF;   
    padding: .15rem;   
    border-radius: 8px;   
    float: left;   
    margin: .1rem .1rem .2rem .1rem;   
    max-width: 8rem;   
    border: .1px solid #ccc;   
    box-shadow: 0 0 .1rem #ccc;   
}  

.content li img.imgleft {    
    float: left;   
}   
.content li img.imgright {    
    float: right;    
} 

.content li span.spanleft {    
    float: left;   
    background: #FFFFFF;   
}   
.content li span.spanright { 
    color: #FEFEFF;   
    float: right;   
    background: #3D5CFF;   
} 




.footer {   
    width: 9.5rem;   
    height: 1rem;   
    background: #F8F8F8;   
    position: absolute;   
    bottom: 0;   
    padding: .2rem;
} 

.footer input {
    display: inline-flex;
    width: 7rem;   
    height: .9rem;   
    outline: none;   
    font-size: 3vh;   
    text-indent: 1vh;   
    position: absolute;   
    border-radius: 6px;   
    right: 1.5rem;   
}
 
.footer span {   
    display: inline-block;   
    width: 1.45rem;   
    height: 1rem;   
    background: #3D5CFF;   
    font-weight: 900;
    color: #FFFFFF;
    font-size: .5rem;

    line-height: .95rem;   
    cursor: pointer;   
    text-align: center;   
    position: absolute;   
    right: .05rem;   
    border-radius: 6px;   
}

.footer span:hover {   
    color: #fff;   
    background: #999;   
}
#user_face_icon {   
    display: inline-block;   
    background: none;   
    width: 1rem;   
    height: 1rem;   
    border-radius: 30px;   
    position: relative;   
    /* bottom: .1rem;    */
    right: .1rem;
    cursor: pointer;   
    overflow: hidden;   
}
img {   
    width: 1rem;   
    height: 1rem;   
}
