* {   
    margin: 0;   
    padding: 0;   
    list-style: none;   
    font-family: '楷体' !important
}
#container { 
    width: 10rem; 
    background: #eee;   
    margin: 0 auto;
    bottom: 0;
}   
.header {   
    background: #000;   
    height: 4vh;   
    color: #fff;
    font-size: 3.2vh;   
    padding-top: 2vh;
    padding-left: 0.2rem;
}
.header img {
    position: relative;
    text-align: left !important;
    height: 3vh;
    width: 3vh;
}
.header .name {
    position: absolute;
    height: 4vh;
    padding-left: 3.2rem;
    font-size: 4vh;
    top: 1vh;
}
.content {   
    font-size: .5rem;   
    width: 9rem; 
    height: 80vh;   
    overflow: auto;   
    padding: .3rem;   
}
.content li {   
    margin-top: .01rem;   
    padding-left: .05rem;   
    width: 8.5rem;   
    display: block;
    clear: both;
    overflow: hidden;
} 
.content li img {
    float: left;
}
.content li span{   
    background: #7cfc00;   
    padding: .15rem;   
    border-radius: 8px;   
    float: left;   
    margin: .1rem .1rem .2rem .1rem;   
    max-width: 8rem;   
    border: .1px solid #ccc;   
    box-shadow: 0 0 .1rem #ccc;   
}  
.content li img.imgleft {    
    float: left;   
}   
.content li img.imgright {    
    float: right;    
} 
.content li span.spanleft {    
    float: left;   
    background: #7cfc00;   
}   
.content li span.spanright {    
    float: right;   
    background: #7cfc00;   
} 
.footer {   
    width: 9.5rem;   
    height: 1rem;   
    background: #666;   
    position: absolute;   
    bottom: 0;   
    padding: .2rem;
} 
.footer input {
    display: inline-flex;
    width: 7rem;   
    height: .9rem;   
    outline: none;   
    font-size: 3vh;   
    text-indent: 1vh;   
    position: absolute;   
    border-radius: 6px;   
    right: 1.5rem;   
}
.footer span {   
    display: inline-block;   
    width: 1.45rem;   
    height: 1rem;   
    background: #08BF62;   
    font-weight: 900;
    color: #eee;
    font-size: .5rem;
    line-height: .95rem;   
    cursor: pointer;   
    text-align: center;   
    position: absolute;   
    right: .05rem;   
    border-radius: 6px;   
}
.footer span:hover {   
    color: #fff;   
    background: #999;   
}
#user_face_icon {   
    display: inline-block;   
    background: none;   
    width: 1rem;   
    height: 1rem;   
    border-radius: 30px;   
    position: relative;   
    right: .1rem;
    cursor: pointer;   
    overflow: hidden;   
}
img {   
    width: 1rem;   
    height: 1rem;   
}
