* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    background-color: #282C34;
    min-height: 100vh; 
    font-family: "楷体" !important;
}
.container {
    background-color: #F1F1F3;
    width: 10rem;
    margin: 0 auto;
    padding-top: .1rem;
}
.welcomebox {
    height: 3rem;
}
.welcomebox .head{
    padding-top: 1rem;
    padding-left: .4rem;
    font-size: 1rem;
    font-weight: 600;
}
.welcomebox .use{
    padding-left: .47rem;
    font-size: .3rem;
    font-weight: 100;
    color: #AFABA8;
}
.user-act {
    padding-left: .3rem;
    padding-right: .3rem;
    background-color: #FFFFFF;
    min-height: 100vh; 
    border-radius: 35px;
    list-style: none;
}
.user-act li{
    font-size: .6rem;
    font-weight: 800;
    color: #AFABA8;
}
.user-act .user .user-txt{
    font-size: .4rem;
    padding-top: 1rem;
    padding-bottom: .2rem;
}
.user-act .user .user-input {
    width: 9.3rem;
    height: .9rem;
    padding-bottom: .2rem;
    color: gray;
    border-width: 1px;
    border-radius: 10px;
}
.user-act .pwd .pwd-txt{
    font-size: .4rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.kuang input{
    width: 9.3rem;
    height: .9rem;
    padding-bottom: .2rem;
    color: gray;
    border-width: 1px;
    border-radius: 10px;
}
.kuang{
    position: relative;
}
.kuang img {
    position: absolute;
    top: .15rem;
    right: .5rem;
    width: .8rem;
    height: .8rem;
    cursor: pointer;
}
.kuang1 input{
    width: 9.3rem;
    height: .9rem;
    padding-bottom: .2rem;
    color: gray;
    border-width: 1px;
    border-radius: 10px;
}
.kuang1{
    position: relative;
}
.kuang1 img {
    position: absolute;
    top: .15rem;
    right: .5rem;
    width: .8rem;
    height: .8rem;
    cursor: pointer;
}
.user-act .mibao .mibao_question{
    font-size: .4rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.user-act .mibao .mibao_answer{
    font-size: .4rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.user-act .mibao input {
    margin: 0;
    width: 9.3rem;
    height: .9rem;
    padding-bottom: .2rem;
    color: gray;
    border-width: 1px;
    border-radius: 10px;
}
.submit-txt {
    text-align: center;
    font-size: .5rem;
    color: #F1F1F3;
}
.submit-btn {
    margin-top: .7rem;
    width: 9.4rem;
    height: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #3C5CFF;
    margin-bottom: 1rem;
}
.user-act .register {
    text-align: center;
    font-size: .4rem;
}
.user-act a:link {
    color: blue;
}
.user-act a:visited {
    color: blue;
}
.user-act a:hover {
    color: grey;
}
.user-act a:active {
    color: grey;
}